extends layout
block content
  :markdown
    ###About
    Riak-River is a stepping stone SaaS designed for small to medium sized apps wanting to use Riak as a data store.

    Riak is a distributed database implementing the principles of the [CAP theorem](http://en.wikipedia.org/wiki/CAP_theorem)
    and [Amazon's Dynamo Paper](http://www.read.seas.harvard.edu/~kohler/class/cs239-w08/decandia07dynamo.pdf).
