div.footer.row
  div.col-lg-4
    h5
      a(href="#") Getting Started
    h5
      a(href="#") Documentation
  div.col-lg-4
    h5!= "&copy; " + new Date().getFullYear() + " WSoft LLC"
  div.col-lg-4
    h5
      a(href="#") Terms of Service
    h5
      a(href="#") Sitemap

