extends layout
block content
  div.jumbotron
    p.lead Taming the rapids of distributed databases.
  div.row.marketing
    div.col-lg-6
      h4 Authentication
      p Header based authentication and IP whitelisting to secure data.
      h4 Monitoring
      p See cluster health easily.
    div.col-lg-6
      h4 Load Balancing
      p Distribute request load across nodes using the best techniques.
      h4 Performance
      p See which nodes are fastest.
