extends layout

block content
  :markdown
    __Create and manage Riak clusters easily.__

    Riak River gives developers the power of [Riak](http://basho.com/riak/) with a few clicks.

    Sign up to recieve product updates.

  input(type="text", name="email", id="email", placeholder="Email Address")

  div.submit-button
    button.btn.btn-primary(id="submit-user-data", type="submit", value="submit") Submit

  div.control-group.error
    div.controls
      span.submit-user-data-error.help-inline

  script(type='text/javascript')
    require(['jquery'], function($){
      $('#submit-user-data').click(function(){
        var params = {
          email: $('#email').val()
        };
        var button = $('#submit-user-data');
        var success = function(){
          button.attr('class', 'btn btn-success');
          button.html("You're subscribed!");
          setTimeout(reset, 3000);
          setTimeout(clear, 3000);
        };
        var error = function(e){
          button.attr('class', 'btn btn-danger');
          $('.submit-user-data-error').html(e);
          setTimeout(reset, 3000);
        };
        var reset = function(){
          button.attr('class', 'btn btn-primary');
          button.html('Submit');
        };
        var clear = function(){
          $('#email').val('');
        };
        /*
         * clear any existing error messages
         */
        $('.submit-user-data-error').html('');

        $.post("/subscribe", params, function(res){
          res.error ? error(res.error) : success();
        });
      });
    });
