extends layout

block content
  :markdown
    Riak-River is a Riak cloud hosting service for the rest of us.
    This service provides an affordable, fast, and scalable way to get
    started with Riak.

    We are currently in the Alpha stages of development and would love any potential
    users help shape the product. Sign up below to get more information and be the first
    to try out the beta.
  table
    tr
      td First Name
      td
        input(type="text", id="fname", name="fname")
    tr
      td Last Name
      td
        input(type="text", id="lname", name="lname")
    tr
      td Email
      td
        input(type="text", name="email", id="email")
      td
        div.control-group.error
          div.controls
            span.submit-user-data-error.help-inline
    tr
      td(colspan=2)
        button.btn.btn-primary(id="submit-user-data", type="submit", value="submit") Submit


  script(type='text/javascript')
    require(['jquery'], function($){
      $('#submit-user-data').click(function(){
        var params = {
          fname: $('#fname').val(),
          lname: $('#lname').val(),
          email: $('#email').val()
        };
        var button = $('#submit-user-data');
        var success = function(){
          button.attr('class', 'btn btn-success');
          button.html("You're subscribed!");
          setTimeout(reset, 3000);
          setTimeout(clear, 3000);
        };
        var error = function(e){
          button.attr('class', 'btn btn-danger');
          $('.submit-user-data-error').html(e);
          setTimeout(reset, 3000);
        };
        var reset = function(){
          button.attr('class', 'btn btn-primary');
          button.html('Submit');
        };
        var clear = function(){
          $('#fname').val('');
          $('#lname').val('');
          $('#email').val('');
        };
        /*
         * clear any existing error messages
         */
        $('.submit-user-data-error').html('');

        $.post("/subscribe", params, function(res){
          res.error ? error(res.error) : success();
        });
      });
    });
