extends layout

block content
  :markdown
    Riak-River is a Riak cloud hosting service for the rest of us.
    This service provides an affordable, fast, and scalable way to get
    started with Riak. The indeal use case would be a development environment
    then a small to medium production app. The pricing is based on an usage model.
    This service also offers other benefits including a authentication scheme on top
    of Riak using ip-address white-listing and/or token based authentication.

    We are currently in the Alpha stages of development and would love any potential
    users help shape the product. Sign up below to get more information and be the first
    to try out the beta.
  form(action='/beta-preview', method="POST")
    table
      tr
        td Name
        td
          input(type="text", name="name")
      tr
        td Email
        td
          input(type="text", name="email")
      tr
        td
          button(type="submit", value="submit") Submit
