doctype 5
html
  head
    title Riak River | Auth and Balances
    link(rel='stylesheet', href='css/bootstrap.min.css')
    meta(name='keywords', content='riak, hosting, cloud hosting, inexpensive, scalable, basho, distributed database')
  body.container
    include nav
    block content
    include footer
  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-41726381-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
