
ul.nav.nav-pills.pull-right
  if path === "/"
    li.active
      a(href="/") home
  else
    li
      a(href="/") home
  - for tab in navLinks
    if path === "/" + tab
      li.active
        a(href="/#{tab}")= tab
    else
      li
        a(href="/#{tab}")= tab
  - var route = loggedIn ? "account" : "login"
  if path === "/" + route
    li.active
      a(href="/#{route}")= route
  else
    li
      a(href="/#{route}")= route
  if route === "account"
    li
      a(href="/logout") logout

h3.text-muted Riak River
