div.masthead
  ul.nav.nav-pills.pull-right
    li
      a(href="/") Home
    li
      a(href="/about") About
    li
      a(href="/contact") Contact
    - if (typeof user !== 'undefined')
      li
        a(href="/account") Account
      li
        a(href="/logout") Logout
    - else
      li
        a(href="/login") Login
  include header
  hr

